.F{
    background-color: aliceblue;
    width: 500px;
    min-height: 50rem;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    top: 75px;
    margin-bottom: 140px;
}
form .in{
    width: 10rem;
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%);
    top: 91%;
}
form input:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: .3s ease-in-out;
}
form input:focus{
    outline: none;
}
form input::placeholder{
    color: rgb(202, 204, 204);
}
/* .femto{
    position: relative;
    background: url(/public/images/3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
} */
.AK{
    font-weight: bold;
    position: relative;
    position: absolute;
    top: 102%;
    width: 10rem;
    left: 80%;
}
@media screen and (max-width:767px) {
    .F{
        width: 375px;
    }
    .AK{
        position: absolute;
        left: 74%;
    }
}