/*Footer*/
footer{
 background-color: #010c1d;
}

footer .input-group-text {
 background-color: var(--color-232f3e);
 color: white;
 padding: 8px 17px;
 text-transform: uppercase;
 font-size: 12px;
}
.footer2 h2{
 color: rgb(20, 94, 224);
}
.gap-15{
    gap: 30px;
}
@media screen and (max-width:800px){
    .footer2 .social_icons{
        gap: 10px;
    }
}

/*End Footer*/