

header {
  width: 100%;
  background-color:#fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 4px 12px rgba(0,0,0,.08);
}

header .header {
  width: 100%;
  height: 8rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          
}

header .logo a h2 {
  width: 25%;
  color: #fff;
  cursor: pointer;
}

header .logo a h2 span {
  color: rgb(16, 80, 190);
}

header nav {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header nav ul .logo-mobile {
  display: none;
}

header nav ul li {
  margin: 0 5px;
}

header nav ul li a {
  color: rgb(29, 4, 4);
  font-weight: 600;
}

header nav ul li a:hover {
  color: rgb(6, 6, 62);
}
header nav ul li a.active{
  color: rgb(6, 6, 62);
}
header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dropdown button{
  background-color: #fff;
  color: rgb(29, 4, 4);
  font-weight: 600;
  font-size: 13px;
  border: none;
}
.dropdown button:hover{
  background-color: #fff;
  color: rgb(29, 4, 4);
  font-weight: 600;
  font-size: 13px;
  border: none;
}
.dropdown .dropdown-menu.show{
  display: flex;
  transition: 0.3s ease-in-out;
}
.dropdown .dropdown-menu li h2{
  font-weight: bold;
  font-size: 15px;
  color: rgb(4, 9, 82);
}
.dropdown .dropdown-menu li{
 padding: 10px;
  text-align: center;
 
}

.dropdown .dropdown-menu li .dropdown-submenu{
  display: block;
}
header .header-right .cart a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(29, 4, 4);

  position: relative;
}

header .header-right .cart a:hover {
  color: rgb(6, 6, 62);
}

header .header-right .cart a.active {
  color: rgb(6, 6, 62);
}
header .header-right .cart .search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 1322;
  cursor: pointer;
}
header .header-right .cart .searchBox{
 position: absolute;
 top: 5px;
 right: -120%;
 width: 100%;
 height: 70%;
 display: flex;
 align-items: center;
 background: #fff;
 padding: 0 30px;
 transition: 0.5s ease-in-out;
 z-index: 1300;
}
header .header-right .cart .act{
  position: absolute;
 right: 0;
 top: 5px;
 width: 100%;
 height: 70%;
 display: flex;
 align-items: center;
 background: #fff;
 padding: 0 30px;
 transition: 0.5s ease-in-out;
 z-index: 1300;
}
header .header-right .cart .searchBox input{
  width: 100%;
  border: none;
  outline: none;
  height: 70%;
  color: #333;
  font-size: 1.25em;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
header .header-right .cart .act input{
  width: 100%;
  border: none;
  outline: none;
  height: 70%;
  color: #333;
  font-size: 1.25em;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.searchbtn{
  position: relative;
  transition: 0.5s ease-in-out;
}
.closebtn{
  opacity: 0;
 visibility: hidden;
}
.closebtnn{
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
header .header-right .cart a p {
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-weight: 500;
}

header .header-right span {
  margin: 0 5px;
}

header .header-right span p {
  color: #fff;
}

header .header-right .links a {
  margin: 0 5px;
  color: #fff;
}
header .header-right .links a:nth-child(2){

  color: rgba(0, 0, 0, 0.879);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
 
}


header .header-right .links a:hover {
  color: rgb(6, 6, 62);
}

header .header-right .links a.active {
  color: rgb(6, 6, 62);
}

header .menu-icon {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  header nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    padding: 1rem;
    z-index: 999;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header nav .nav-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.915);
    -webkit-transform: translateX();
            transform: translateX();
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  header nav .show-nav-wrapper {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  header nav ul {
    display: block;
  }
  .dropdown button{
    margin-left: 3px;
    padding: 10px;
  }
  .dropdown .dropdown-menu.show{
    display: block;
    transition: 0.3s ease-in-out;
    width: 100%;
  }
  header nav ul .logo-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul .logo-mobile > * {
    cursor: pointer;
  }
  header nav ul li {
    padding: 5px 0;
    border-bottom: 1px solid rgba(82, 79, 79, 0.142);
  }
  header nav ul li a {
    display: block;
  }
  header nav .header-right {
    display: block;
  }
  header nav .header-right .cart {
    border-bottom: 1px solid rgba(82, 79, 79, 0.142);
  }
  header nav .header-right .links {
    display: block;
  }
  header nav .header-right .links a {
    display: block;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid rgba(82, 79, 79, 0.142);
  }
  header .cart1 {
    display: block;
    padding: 5px 0;
  }
  header .cart1 a{
    position: relative;
  }
  header .cart1 a p {
    position: absolute;
    top: -1rem;
    left: 5rem;
    font-weight: 500;
  }
  header .show-nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header .hide-nav {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  header .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .menu-icon > * {
    margin-left: 2rem;
  }
  .header-right{
    margin-left: 20px;
  }
  header nav ul li a{
    color: black;
  }
  header nav .header-right .links a{
    color: black;
  }
  header .header-right .cart a{
    color: black;
    margin-top: 10px;
  }
  header .header-right .cart a p{
    color: black;
  }
  .active {
    position: relative;
    color:red ;
  }
  header .header-right .links a.active {
    color: red;
  }
  header .header-right .links a:hover {
    color: red;
  }
  header .header-right .cart a:hover {
    color: red;
  }
  
  header .header-right .cart a.active {
    color: red;
  }
  header nav ul li a:hover {
    color: red;
  }
  header nav ul li a.active{
    color: red;
  }
  header .header-right .links a:nth-child(2){
    color: #fff;
    background-color: rgb(13, 62, 221);
    margin-top: 10px;
  }
 .act,.searchBox{
  visibility: hidden;
 }
 .cart{
  visibility: hidden;
 }
 a{
  padding: 10px;
 }
 .header-right .links{
  margin-left: -10px;
 }
 
  
}

.active {
  position: relative;
  color:red ;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width:100%;
  height: 2px;
  background-color: rgb(12, 27, 31);
}
