.Student{
    background-color: #010c1d;
    color: #fff;
    height: 300vh;
    width: 200px;
    transition: all 0.5s;
    position: relative;
    top: 81px;
    z-index:1;
    overflow: hidden;
}
.Sidebar.Sidebar2{
    height: 100vh;
}
.top-section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    font-size: 30px;
}
.bars{
    font-size: 25px;
    display: flex;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 15px 20px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background-color: lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background-color: lightskyblue;
    color: #000;
}