    .header-profile{
        position: absolute;
        top: 10%;
        left: 30%;
        
    }
    
    
    .form{
        background-color: aliceblue;
        width: 500px;
        padding: 25px;
        margin: 25px auto 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        position: relative;
        top: 80px;
        margin-bottom: 150px;
    }
    @media screen and (max-width:767px) {
        .header-profile{
            left: 20%;
            
            }
        .form{
            width: 375px;
        }
    }
    .form input::placeholder{
        font-size: 17px;
        color: #beb8b8;
    }
    .input_box .name{
        padding: 14px 10px 14px 50px;
        width: 100%;
        background-color: #fcfcfc;
        border: 1px solid #0003;
        outline: none;
        letter-spacing: 1px;
        transition: 0.3s;
        border-radius: 3px;
        color: #333;
        height: 40px;
    }
    .icons{
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0px;
        top: 5px;
        bottom: 0px;
        color: #0003;
        background-color: #f1f1f1;
        border-radius: 2px 0 0 2px;
        transition: 0.3s ;
        font-size: 20px;
        pointer-events: none;
        border: 1px solid #00000003;
        padding: 9px 0;
        border-right: none;
        height: 39px;
    }
    .submit{
        padding: 10px 30px;
        font-size: 15px;
        font-weight: bold;
        position: relative;
        top: 85px;
        right: -370px;
        width: auto;
        border: none;
    }
    @media screen and (max-width:767px) {
        .submit{
            right: -246px;
        }
    }
    .Img{
        width: 200px;
        height: 200px;
        margin: auto;
        margin-bottom: 70px;
    }
    .Img img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: darkslategrey;
    }
    .II{
            width: 10rem;
            position: absolute;
            left: 50%;
            transform: translate(-50% , -50%);
            top: 50%;
    }
    .Sub{
        position: initial;
        margin-top: 50px;
    }