.dropfilter{
 width: 135px;
}
.dropfilter button span{
 font-size: 11px;
}
.dropdownfilter{
 background-color: #eee;
 padding: 5px;
padding-left: 1%;
}
.h2cources{
 width: 300px;
 font-weight: bold;
margin-bottom: 15px;
}
.pagination1{
 margin-left: 35%;
}
.courceshead{
 margin: 50px 0;
}
.carousel{
  cursor: grab ;  
  width: 97rem;
  position: relative;
  overflow: hidden;
  left: 190px;
  margin-right: 50px;
}
@media(max-width:767px){
  .carousel{
    position: inherit;
    width: 31rem;
    /* left: 10px; */
    margin-left: 22px;
  }
  .item img{
    width:14rem !important;
  }
}
.inner-carousel{
  display: flex;
}
.product{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* .item{
  min-height: 25rem;
  min-width: 20rem;
  padding: 150px 20px;
  position: relative;
} */
.item img{ 
  width: 30rem;
  height: 35rem;
  border-radius: 20px;
  pointer-events: none;
  margin-right: 30px;
} 
@media(max-width:767px){
  .pp{
    position: relative;
    top: 700px;
  }
}
.dept img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}